@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-brand-primary: #000000;
  --color-brand-secondary: #ffffff;
  --font-bowlby: "Bowlby One SC", Inter, sans-serif;
  --font-orbitron: "Orbitron", Inter, sans-serif;
  --color-pro-bg: #fcfbf9;

  --background-image-grid-pattern:
    linear-gradient(to right, var(--color-gray-200) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-gray-200) 1px, transparent 1px);
}

@utility bg-grid {
  background-color: var(--color-pro-bg);
  background-image: var(--background-image-grid-pattern);
  background-size: 70px 70px;
  background-position: center;
  @media (width >= theme(--breakpoint-md)) {
    background-size: 140px 140px;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
